body {
    width: 100vw;
    height: 100vh;
    font-family: system-ui;
    font-size: 2.5vh;
    color: #f5f5f5;
    margin: 0;
    background-image: url("images/blue-painting-texture.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}

/* ----- MAIN PANELS ----- */

#main-container {
    height: 80vh;
}

/* default display for content is "none";
display logic handled in JavaScript */
main {
    height: 100%;
    display: none;
    opacity: 0;
    transition-delay: opacity 1s ease-in 1s;
}

main.active {
    /* i.e., how main should display when its panel is activated */
    display: flex;
    opacity: 1;
    transition-delay: 0s;
}

main.home, main.contact {
    flex-direction: row-reverse;
    padding: 0 5vw;
}

.text-container {
    width: 50vw;
    margin: 0 0 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

main.home > .text-container {
    align-items: center;
}

main.contact > .text-container {
    align-items: center;
}

.text-container > h1 {
    font-size: 3em;
    text-align: center;
}

.image-container {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    border-radius: 50%;
    max-width: 70%;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, .2);
}


/* ----- SKILLS PANEL ----- */
main.skills img {
    border-radius: none;
}
ul {
    list-style-type: none;
}



/* ----- NAVBAR ----- */

nav.unloaded {
    /* the real nav display is flex: set to none just for startup,
    else the navbar loads for a second before the main content */
    display: none;
}

nav {
    display: flex; 
    height: 20vh;
    justify-content: space-around;
    align-items: flex-start;
}

nav > button {
    font-family: system-ui;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(245, 245, 245);
    border: none;
    border-radius: .5em;
    padding: .5em;
    background-color: transparent;   /*#f5f5f5;*/
}


nav > button:hover {
    cursor: pointer;
    color: rgba(245, 245, 245, 0.5);
}

nav > button.active {
    display: none;
}