body {
    width: 100vw;
    height: 100vh;
    font-family: system-ui;
    font-size: 2.5vh;
    color: #f5f5f5;
    margin: 0;
    background-image: url("images/blue-painting-texture.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* ----- MAIN PANELS ----- */

#main-container {
    height: 80vh; /* to keep the container height constant during fade-ins */
}

/* default display for content is "none";
display toggle handled in JavaScript */
main {
    height: 100%;
    display: none;
    padding: 0 5vw;
}

main.active {
    /* i.e., how main should display when its panel is activated */
    display: flex;
    animation: fade-in 1.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main.home, main.contact {
    flex-direction: row-reverse;
}

.text-container {
    width: 50vw;
    margin: 0 0 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

main.home > .text-container {
    align-items: center;
}

main.contact > .text-container {
    align-items: center;
}

h1 {
    font-size: 3em;
    text-align: center;
}

.image-container {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    border-radius: 50%;
    max-width: 70%;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, .2);
}


/* ----- SKILLS PANEL ----- */
main.skills {
    padding: 0; /* override the default padding for `main` */
}

main.skills, main.about {
    flex-direction: column;
    justify-content: space-between;
}

main.skills > h1 {
    margin: .5em 0;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    margin: .5em 0 .1em;
}

main.skills ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

main.skills figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

main.skills figcaption {
    display: inline;
}

main.skills img {
    border-radius: 0;
    box-shadow: none;
    width: 8vw;
}


/* ----- ABOUT ----- */
main.about > header > p {
    text-align: center;
    font-size: 1.5em
}


/* ----- CONTACT ----- */

main.contact ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main.contact li {
    padding: 0 0 0.5em;
}


a {
    color: rgb(245, 245, 245);
    font-size: 1.5em;
}

a:hover {
    color: rgb(200, 200, 245)
}


/* ----- NAVBAR ----- */

nav.unloaded {
    /* the real nav display is flex: set to none just for startup,
    else the navbar loads for a second before the main content */
    display: none;
}

nav {
    display: flex; 
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;
}

nav > button {
    font-family: system-ui;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(245, 245, 245);
    border: none;
    border-radius: .5em;
    padding: .5em;
    background-color: transparent;   /*#f5f5f5;*/
}


nav > button:hover {
    cursor: pointer;
    color: rgba(245, 245, 245, 0.5);
}

nav > button.active {
    display: none;
}